 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ">
                    <img class="img-responsive" src="img/about.png" alt="my image" style="width:250px;height:250px;">
                </div>
                <div class="col-lg-4 ">
                    <p><br/><br/></p>
                    <p>My name is Rohit Tembhare. I am a second year undergraduate student studying Aerospace Engineering at IIT Bombay. My hobbies are aeromodelling and coding.</p>
                </div>
                <div class="col-lg-4">
                    <p><br/><br/></p>
                    <p>I also like playing Table Tennis and sometimes keyboard ;) </p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
